.post_container{
    display: flex;
   flex-direction: column;
  padding-top: 5px;
   border:1px solid lightgray;
   margin:20px;
   background-color: white;
   padding-left: 10px;
   color:black;
   border-radius: 10px;
}
.post_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

.post_body{
    color: black;
    font-weight: 400;
    padding:10px;
    overflow-wrap: anywhere;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:15px 15px;

}

.left span{
    color: aqua;
}
.right{
    display: flex;
    align-items: center;
    flex: 0.3;
    justify-content:space-between;
    color: gray;
   
   
}
.right p{
    font-size: 0.8rem;
    padding: 2%;
}